<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Sections
      </a>
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </form>
    </div>
    
  </nav>

<div class="container mt-4">
    <div class="row">
        <div class="col-4">
            <div class="card border-dark">
               <app-form></app-form>
            </div>
        </div>
        <div class="col-8">
            <div class="card flex justify-content-center">
               <app-accordian></app-accordian>
            </div>
        </div>
    </div>
</div>